In [154]:
import numpy as np
import pandas as pd
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer

In [155]:
import nltk

stopingWords= stopwords.words("english")

In [156]:
df=pd.read_csv("news.csv")

In [157]:
df

,title,content,published_at,source,topic
0,BTS: RM is reminded of Bon Voyage as he travel...,"After reaching his hotel in the city, RM revea...",2022-07-30T07:00:00Z,2,13
1,RM recalls wondering if he 'made right decisio...,RM aka Kim Namjoon was the first member to joi...,2022-12-22T15:57:55Z,2,13
2,BTS: J-Hope and RM go bonkers at Billie Eilish...,"Billie Eilish's concert was held in Seoul, Sou...",2022-08-16T07:00:00Z,1,7
3,"BTS: J-Hope proudly states he raised Jungkook,...",BTS ARMY y'all would be missing the members a ...,2022-12-18T13:08:40Z,1,7
4,BTS: Jin aka Kim Seokjin takes us through the ...,BTS member Kim Seokjin aka Jin has the capacit...,2022-11-21T08:00:00Z,1,8
...,...,...,...,...,...
805,BTS’ SUGA’s Suchwita Ep 2 Teaser OUT: Top 3 so...,BTS has conquered the world with their group r...,2022-12-30T08:00:00Z,3,11
806,BTS ARMY celebrate 700 days of Jin's special s...,Today marks 700 days since BTS' worldwide hand...,2022-01-20T08:00:00Z,3,8
807,"BTS: 'I am not a baby,' says Jungkook as an AR...",BTS' youngest member Jungkook came online on W...,2022-09-02T07:00:00Z,1,10
808,BTS' Jin shares 1st pics after joining militar...,BTS' eldest member Jin has shared pictures and...,2023-01-18T08:36:56Z,2,1
809,"Bad Decisions: BTS’ Jin, Jimin, V & Jungkook j...","After a lot of teasing, Benny Blanco’s collabo...",2022-08-05T07:00:00Z,3,8

In [158]:
df.isnull().sum()

title           0
content         4
published_at    0
source          0
topic           0
dtype: int64

In [159]:
df=df.fillna("")

In [160]:
df.duplicated().sum()

0

In [161]:
df["content"]=df["title"]+df["content"]

In [162]:
df["source"].unique()

array([2, 1, 3], dtype=int64)

In [163]:
df=df.drop(columns=["title", "published_at", "topic"])

In [164]:
df.head(10)

                                             content  source
0  BTS: RM is reminded of Bon Voyage as he travel...       2
1  RM recalls wondering if he 'made right decisio...       2
2  BTS: J-Hope and RM go bonkers at Billie Eilish...       1
3  BTS: J-Hope proudly states he raised Jungkook,...       1
4  BTS: Jin aka Kim Seokjin takes us through the ...       1
5  BTS: J-Hope aka Jung Hoseok sets thirst trap w...       1
6  BTS: J-Hope reveals why 'sometimes' he hides a...       2
7  BTS: What's cooking between J-Hope and Model I...       1
8  Happy Birthday Jungkook: 'SEPTEMBER HUSBAND' t...       1
9  BTS' J-Hope celebrates Chuseok 2022 with new p...       2

In [165]:
import string
ps=PorterStemmer()

def stemming(text):
    p=[]
    text=text.lower()
    text=text.strip().split(" ")
    for i in text:
        if i not in stopingWords and i not in string.punctuation:
            i="".join([j for j in i if j not in string.punctuation])
            p.append(ps.stem(i))
    return " ".join(p)

In [166]:
df["content"]=df["content"].apply(stemming)

In [167]:
df.head()

                                             content  source
0  bt rm remind bon voyag travel switzerland give...       2
1  rm recal wonder made right decis join bt think...       2
2  bt jhope rm go bonker billi eilish concert arm...       1
3  bt jhope proudli state rais jungkook jimin kim...       1
4  bt jin aka kim seokjin take us super tuna jour...       1

In [168]:
df["source"].unique()

array([2, 1, 3], dtype=int64)

In [169]:
x=df.iloc[:,0].values
y=df.iloc[:,-1].values

In [170]:
print(x.ndim)

1

In [171]:
vectorizer=TfidfVectorizer()
x=vectorizer.fit_transform(x)

In [172]:
vectorizer.get_feature_names()

C:\Users\DELL\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '0000',
 '001',
 '007',
 '01',
 '02',
 '03',
 '052',
 '056',
 '06',
 '0610',
 '0612091102120820',
 '07',
 '08',
 '0x1lovesong',
 '10',
 '100',
 '1000',
 '10000',
 '100000',
 '10039',
 '100k',
 '100nbsp',
 '101',
 '10139',
 '101rsquo',
 '101st',
 '102',
 '1020',
 '1024382',
 '103',
 '1030',
 '10339',
 '103rsquo',
 '104',
 '105',
 '1055868',
 '106th',
 '107',
 '109th',
 '10cm',
 '10hr',
 '10m70m',
 '10month',
 '10song',
 '10spotifi',
 '10t',
 '10th',
 '10yearold',
 '11',
 '110',
 '112',
 '1159',
 '118',
 '11kitti',
 '11kitties',
 '11kitties11kitti',
 '11kittieson',
 '11nbsp',
 '11th',
 '11yearold',
 '12',
 '120',
 '1200',
 '1204',
 '120th',
 '1218',
 '122',
 '123',
 '1230',
 '126',
 '127',
 '12739',
 '127rsquo',
 '127titl',
 '12th',
 '12th13th',
 '13',
 '130',
 '1303748',
 '134',
 '134th',
 '135day',
 '135th',
 '136th',
 '138',
 '138th',
 '139',
 '13piec',
 '13pieceact',
 '13th',
 '13yearold',
 '14',
 '140',
 '141st',
 '142',
 '143',
 '14339',
 '143rsquo',
 '14500',
 '145000',
 '149',
 '14nbsp',
 '14th',
 '14yearold',
 '15',
 '150',
 '1500',
 '15000',
 '1516',
 '155',
 '156',
 '15th',
 '15yearold',
 '16',
 '165231',
 '16blackpinktitl',
 '16in',
 '16k',
 '16nbsp',
 '16th',
 '16yearold',
 '17',
 '171000',
 '173000',
 '178th',
 '17nbsp',
 '17th',
 '18',
 '180',
 '1821',
 '1828',
 '184',
 '189',
 '18k',
 '18month',
 '18th',
 '18yearold',
 '19',
 '190',
 '191st',
 '1921',
 '1940s',
 '1951',
 '1960',
 '1966ndash1968',
 '197',
 '1971',
 '19711230',
 '1972',
 '1975',
 '198239',
 '1984',
 '1987',
 '198th',
 '199',
 '1990',
 '1991',
 '1992',
 '1992nbsp',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1997nbsp',
 '1999',
 '19th',
 '19thcenturi',
 '19yearold',
 '1amp2',
 '1amp239',
 '1amp2rsquo',
 '1decemb',
 '1m',
 '1nbsp',
 '1o13',
 '1pm',
 '1rdquo',
 '1rsquo',
 '1s',
 '1st',
 '1y5k1kggyysstay',
 '20',
 '200',
 '2000',
 '20000',
 '2001910',
 '2003',
 '20039',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2010rdquo',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '20152016',
 '2016',
 '2016squar',
 '2017',
 '2017a',
 '2017blackpink',
 '2018',
 '2018album',
 '2018blackpink',
 '2018nbsp',
 '2018ndash2019',
 '2018reblackpink',
 '2018solo',
 '2018squar',
 '2019',
 '20192022',
 '2019kill',
 '2019soobin',
 '2020',
 '202039',
 '2020album',
 '2020how',
 '2020httpswww',
 '2020the',
 '2021',
 '20212022',
 '202122',
 '2021r',
 '2022',
 '20220613',
 '20222',
 '202239',
 '2022a',
 '2022blackpinkrsquo',
 '2022bt',
 '2022jhope',
 '2022nbsp',
 '2022rsquo',
 '2022the',
 '2022which',
 '2023',
 '202339',
 '2023shine',
 '2024',
 '2025',
 '202539quot',
 '2026',
 '2030',
 '2030name',
 '203o',
 '20k',
 '20km',
 '20sbt',
 '20someth',
 '20th',
 '21',
 '211127im',
 '2128',
 '213',
 '21st',
 '21univ',
 '22',
 '2200',
 '220000',
 '220613',
 '224',
 '227',
 '229',
 '22961862',
 '22lapillustitl',
 '22nd',
 '23',
 '230',
 '239',
 '23rd',
 '23yearold',
 '24',
 '247',
 '249',
 '24hour',
 '24th',
 '24yearold',
 '25',
 '250000',
 '2500000',
 '254',
 '259',
 '25th',
 '25yearold',
 '26',
 '260',
 '260000',
 '261',
 '266',
 '267',
 '26nbsp',
 '26th',
 '27',
 '270',
 '270000',
 '27nbsp',
 '27th',
 '28',
 '287000',
 '288',
 '289',
 '28th',
 '29',
 '294000',
 '29th',
 '29yearold',
 '2am',
 '2d',
 '2j',
 '2nd',
 '2ne1',
 '2ne139',
 '2ne1rsquo',
 '2ny0spa5ul4it',
 '2o22',
 '2pm',
 '2pmrsquo',
 '2releas',
 '2rsquo',
 '2seok',
 '2share',
 '2vibe',
 '2xtx04wez0wdid',
 '30',
 '300',
 '300000',
 '308000',
 '309',
 '30nbsp',
 '30second',
 '30th',
 '31',
 '310000',
 '31st',
 '32',
 '3255',
 '33',
 '331',
 '338',
 '339',
 '33k',
 '34',
 '34000',
 '3435',
 '347',
 '349',
 '34th',
 '35',
 '350',
 '3500',
 '355',
 '35minut',
 '35secondlong',
 '35th',
 '36',
 '365',
 '36m',
 '37',
 '37k',
 '37m',
 '37th',
 '38th',
 '39',
 '390x1lovesong',
 '39100',
 '3911',
 '392',
 '39200',
 '392021',
 '392022',
 '392023',
 '3937th',
 '393racha',
 '395k',
 '396',
 '3961st',
 '3964th',
 '3965th',
 '397th',
 '39aespa39',
 '39album',
 '39allrounder39',
 '39apan',
 '39armi',
 '39army39',
 '39arson39',
 '39artist',
 '39attention39',
 '39awaken39',
 '39aww39nbspov',
 '39back',
 '39bad',
 '39bangtan',
 '39be',
 '39beauti',
 '39best',
 '39between',
 '39billboard',
 '39boombayah39',
 '39born',
 '39bt',
 '39bts39',
 '39butter39',
 '39case',
 '39chapter',
 '39chart',
 '39cheshire39',
 '39circus39',
 '39coachella',
 '39coachella39',
 '39coldplay39',
 '39compani',
 '39concept',
 '39cookie39',
 '39cool39',
 '39countri',
 '39crazi',
 '39crime',
 '39cypher',
 '39daili',
 '39ddudu',
 '39dearjinfromarmy39',
 '39dick',
 '39digit',
 '39dimens',
 '39district',
 '39dito39',
 '39ditto39',
 '39dream',
 '39dream39',
 '39dreamers39',
 '39dynamite39',
 '39entertain',
 '39epiphany39',
 '39event',
 '39event39',
 '39fam',
 '39fam39',
 '39fifa',
 '39first39',
 '39free',
 '39geniu',
 '39give',
 '39global',
 '39gma',
 '39godrsquo',
 '39golden',
 '39good',
 '39grammy39',
 '39growth',
 '39hangjuni',
 '39happi',
 '39happybangchanday39',
 '39headliner39nbspand',
 '39hellevator39',
 '39hollywood',
 '39hot',
 '39hottest',
 '39hype',
 '39hyper',
 '39i',
 '39i39m',
 '39iheartradio',
 '39ikon39',
 '39iland39',
 '39im',
 '39incomparable39',
 '39indigo39',
 '39intro',
 '39island39',
 '39it39',
 '39itsmefann39',
 '39jack',
 '39japan',
 '39jungkook',
 '39kill',
 '39korea',
 '39kpop',
 '39la',
 '39ldf',
 '39left',
 '39let39',
 '39like39',
 '39loco39',
 '39london',
 '39lost',
 '39m',
 '39malaysian',
 '39maniac39',
 '39manifesto',
 '39maxident39',
 '39maze39',
 '39mbti39',
 '39me',
 '39messag',
 '39mi',
 '39mini',
 '39modern',
 '39money39',
 '39mono',
 '39mono39',
 '39monster',
 '39mood',
 '39moon39',
 '39moonlight',
 '39moonlight39',
 '39more39',
 '39morn',
 '39most',
 '39mtv39',
 '39music',
 '39nbspthe',
 '39new',
 '39newjeans39',
 '39no',
 '39noeasy39',
 '39nude',
 '39oddinary39',
 '39omg39',
 '39our',
 '39perfect',
 '39piec',
 '39pink',
 '39problemat',
 '39proof39',
 '39protect',
 '39puzzle39',
 '39quot',
 '39realiti',
 '39reason39',
 '39relationship39',
 '39retro39',
 '39rm',
 '39run',
 '39sadame39',
 '39scenery39',
 '39sea',
 '39selfproduc',
 '39seojin39',
 '39seojin39s39',
 '39seokjin',
 '39serve39',
 '39sexi',
 '39shazam',
 '39should',
 '39shut',
 '39singer39',
 '39skzreplay',
 '39skzreplay39',
 '39sm',
 '39sneakers39',
 '39snow',
 '39soldier',
 '39sour39nbspmv',
 '39special',
 '39spin',
 '39squar',
 '39stage',
 '39stay',
 '39stay39',
 '39strangers39',
 '39strangersrsquo',
 '39street',
 '39suchwita39',
 '39summer',
 '39super',
 '39sustain',
 '39sweet',
 '39taeta',
 '39tast',
 '39th',
 '39thai',
 '39the',
 '39time',
 '39togeth',
 '39tomorrow',
 '39top',
 '39true',
 '39uk',
 '39unapproachable39',
 '39unidentifi',
 '39updat',
 '39useless',
 '39veauti',
 '39veautiful39',
 '39vibe39',
 '39wannabe39',
 '39watercolor39',
 '39weekli',
 '39wild',
 '39wilderness39',
 '39wildflow',
 '39winter',
 '39with',
 '39world',
 '39world39',
 '39worldwid',
 '39wrapped39',
 '39yet',
 '39yours39',
 '3cd',
 '3j',
 '3racha',
 '3rachanbsp',
 '3rd',
 '3releas',
 '40',
 '400',
 '4000',
 '40000',
 '404000',
 '405',
 '40m',
 '40million',
 '40secondlong',
 '40th',
 '41',
 '4133660',
 '418',
 '419',
 '41second',
 '41st',
 '42',
 '420',
 '428',
 '43',
 '433qexmxng0th',
 '43m',
 '44',
 '4423',
 '449k',
 '44th',
 '44yearold',
 '45k',
 '46',
 '46000',
 '46th',
 '47',
 '470',
 '47m',
 '48',
 '48th',
 '499000',
 '49afuurbggodo',
 '4am',
 '4amin',
 '4d',
 '4dx',
 '4k',
 '4ljauxbpfestay',
 '4member',
 '4minut',
 '4nbsp',
 '4t',
 '4th',
 '4ujqor2dmfmif',
 '4year',
 '4yearold',
 '50',
 '500',
 '5000',
 '500000',
 '50k',
 '50m',
 '50th',
 '50yearold',
 '51',
 '51k',
 '52',
 '520',
 '52nd',
 '52week',
 '53',
 '530',
 '534',
 '54',
 '544',
 '54k',
 '55',
 '55th',
 '56',
 '57',
 '576',
 '58',
 '580000',
 '5835',
 '59',
 '59th',
 '5month',
 '5nbsp',
 '5oneustitl',
 '5sos',
 '5th',
 '5xisxvcbzewepisod',
 '5year',
 '60',
 '600',
 '600000',
 '605',
 '6070',
 '60th',
 '61',
 '614k',
 '61st',
 '623',
 '629',
 '63',
 '630',
 '634',
 '639',
 '63k',
 '63rd',
 '64',
 '645k',
 '647',
 '64th',
 '650',
 '65k',
 '66',
 '66000',
 '66th',
 '67',
 '676',
 '68',
 '68k',
 '68th',
 '69',
 '69th',
 '6ak5yomj8w8jhop',
 '6ankitgupta',
 '6lee',
 '6minut',
 '6nbsp',
 '6th',
 '70',
 '700',
 '7000',
 '70000',
 '701241',
 '70k',
 '71',
 '716',
 '71st',
 '72',
 '720',
 '730',
 '736',
 '736000',
 '74',
 '74th',
 '75',
 '756k',
 '75rosvoyoqqrun',
 '75th',
 '77',
 '777',
 '77minut',
 '78',
 '79',
 '79000',
 '79679',
 '7btskook',
 '7czufdvjycsuchwita',
 '7ddn2icsfrastay',
 '7eleven',
 '7fate',
 '7kangtaalbum',
 '7nbsp',
 '7rsquo',
 '7th',
 '80',
 '800',
 '80000',
 '800000',
 '807',
 '81',
 '82',
 '826',
 '82nd',
 '830',
 '83000',
 '83rd',
 '84',
 '85',
 '850',
 '853021',
 '857',
 '86',
 '87th',
 '88rise',
 '89',
 '895',
 '899',
 '8am',
 '8nbsp',
 '8photo',
 '8th',
 '90',
 '900000',
 '9039',
 '90staeguk',
 '91',
 '910',
 '911',
 '92',
 '93',
 '930',
 '935',
 '937',
 '939',
 '94th',
 '95',
 '95liner',
 '95th',
 '96',
 '96th',
 '97',
 '97z',
 '98',
 '9800',
 '9nbsp',
 '9ndashjanuari',
 '9pdj4ijd08srememb',
 '9pm',
 '9th',
 '9thrsquo',
 '9year',
 'a39',
 'aa',
 'aaah',
 'aagamu',
 'aaj',
 'aanhpi',
 'aapko',
 'aaradhya',
 'aarti',
 'ab',
 'ab6ix',
 'aback',
 'abandon',
 'abash',
 'abassi',
 'abbasi',
 'abbrevi',
 'abc39',
 'abcdefghijklmnopqrstuvwxyz',
 'abcdefghilmnopqrstuvwxyz',
 'abdomin',
 'abdullah',
 'abhishek',
 'abil',
 'abl',
 'ablaz',
 'ablebodi',
 'ablohrsquo',
 'abnorm',
 'abod',
 'abort',
 'about',
 'abov',
 'abraham',
 'abraiz',
 'abroad',
 'abruptli',
 'abscbn',
 'absenc',
 'absencebt',
 'absent',
 'absolut',
 'absorb',
 'abstain',
 'abstract',
 'abt',
 'abu',
 'abund',
 'abus',
 'abuzz',
 'abyss',
 'academ',
 'academi',
 'acapella',
 'acc',
 'acceler',
 'accent',
 'accentu',
 'accept',
 'access',
 'accessor',
 'accessori',
 'accessoris',
 'accid',
 'accident',
 'accidentally',
 'acclaim',
 'accolad',
 'accommod',
 'accompani',
 'accomplish',
 'accomplishmentsbts',
 'accord',
 'accordingli',
 'account',
 'accountsth',
 'accumul',
 'accur',
 'accuraci',
 'accus',
 'accustom',
 'ace',
 'aceshowbizcom',
 'ach',
 'achcha',
 'achiev',
 'achievement',
 'achievementnbsp',
 'achievements',
 'achievementsnbsp',
 'achromat',
 'acknowledg',
 'acoust',
 'acquaint',
 'acquir',
 'acquit',
 'acronym',
 'across',
 'act',
 'act39',
 'actingblast',
 'action',
 'actions',
 'activ',
 'activeduti',
 'activities',
 'actor',
 'actor39',
 'actordirector',
 'actorfilmmak',
 'actorinfluenc',
 'actorproducerdirector',
 'actorsing',
 'actress',
 'actress39',
 'actresss',
 'actual',
 'acut',
 'ad',
 'adag',
 'adam',
 'adapt',
 'add',
 'addam',
 'addams39',
 'addict',
 'addit',
 'address',
 'adel',
 'adele',
 'adher',
 'adjac',
 'adjust',
 'adlib',
 'admin',
 'administ',
 'administr',
 'admir',
 'admirable',
 'admirationw',
 'admiss',
 'admit',
 'ado',
 'adolesc',
 'adopt',
 'ador',
 'adora',
 'adorn',
 'adorrsquo',
 'adrenalin',
 'adult',
 'advanc',
 'advance',
 'advantag',
 'adventur',
 'advertis',
 'advertisements',
 'advic',
 'advis',
 'advoc',
 'aeaeon',
 'aegyo',
 'aekey',
 'aerob',
 'aeroplan',
 ...]

In [173]:
vectorizer

TfidfVectorizer()

In [174]:
x=x.toarray()

In [175]:
# d=dict(zip(vectorizer.get_feature_names(), mat))

In [176]:
x.shape

(810, 13596)

In [177]:
y.shape

(810,)

In [178]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.15, random_state=0)

In [179]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [180]:
pipe2=[
    {
        "name":"Logistic Regression",
        "model":LogisticRegression()
    }
    ,{
        "name":"K Nearest Neighbors",
        "model":KNeighborsClassifier(n_neighbors=5)
    },{
        "name":"Naive Bayes",
        "model":GaussianNB()
    },
    {
        "name":"Decision Tree",
        "model":DecisionTreeClassifier()
    },
    {
        "name":"Random Forest",
        "model":RandomForestClassifier()
    }
]

In [181]:
for i in pipe2:
    regressor=i["model"]
    regressor.fit(x_train, y_train)
    y_pred=regressor.predict(x_test)
    print(i["name"], " : " , accuracy_score(y_test, y_pred))

Logistic Regression  :  0.9508196721311475
K Nearest Neighbors  :  0.8442622950819673
Naive Bayes  :  0.7377049180327869
Decision Tree  :  0.8278688524590164
Random Forest  :  0.9590163934426229